main{
    margin: 30px;
    padding:10px;
    background-color: darkgrey;
}
.column-layout{
    display: flex;
}

.main-column{
    order: 2;
    flex:2;
}

.sidebar-one{
    order: 1;
    flex:1;
}

.sidebar-two{
    order: 3;
    flex:1;
}